html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

a {
    &:visited {
        color: inherit;
    }
}