main {
    background-image: linear-gradient(to top, rgba(74,71,71, 1), rgba(0,0,0,1));
}

section {
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.house {
    height: 300px;
    width: 300px;
    &:hover {
        color: white;
    }
}

.scene {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: linear-gradient(to top, rgba(74,71,71, 1), rgba(0,0,0,1));
    // z-index: -99;
    
    a {
        padding: 20px;
        color: black;
        background-color: rgba(255,255,255,0.5);
        text-decoration: none;
        border: 2px solid black;
        border-radius: 15px; 
        margin: 10px;
        transition: background-color $transition;
        // z-index: 999;

        &:hover {
            background-color: rgba(255,255,255,0.75);
        }
    }

    .treeImage {
        position: absolute;
        bottom: 0px;
        // z-index: -9;
    }
    
    .treeImage1 {
        width: 31%;
        left: -14%;
    }
    
    .treeImage2 {
        width: 23%;
        left: -3%;
    }
    
    .treeImage3 {
        width: 26%;
        left: 11%;
    }
    
    .treeImage4 {
        width: 38%;
        right: 0;
    }
    
    .treeImage5 {
        width: 22%;
        right: 13%;
    }
    
    .treeImage6 {
        width: 18%;
        right: 0;
    }
    
    .treeImage7 {
        width: 36%;
        left: 28%;
    }
    
    .sun {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 60px 110px white;
    }

    .explanation {
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        width: 60%;
        max-width: 800px;
        margin: 60px auto 0 auto;
        border: 2px solid black;
        border-radius: 15px;
        text-align: center;
        padding: 40px;
        display: none;
    }
}