main {
    height: 100vh;
    width: 100vw;
}

main { //midnight
    // background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(74,71,71, 1));
    // background: darkgrey;
    // transition: background 4s linear;
}

main { //sunrise
    // background: linear-gradient(to top, rgba(238,196,30,1), rgba(227,116,58,1));
}

main { //noon
    // background: linear-gradient(to top, rgba(116,228,238,1), rgba(255,255,255,1));
}

main { //sunset
    background: linear-gradient(to top, rgb(236, 183, 226), rgb(104, 62, 233));
}



section {
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.house {
    height: 300px;
    width: 300px;
}

.tree1 {
    width: 350px;
    
}

.tree2 {
    width: 250px;
}

.tree3 {
    width: 250px;
}

.tree4 {
    width: 350px;
}

.tree5 {
    width: 275px;
}

// @keyframes color {
//   0% {
//     background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(74,71,71, 1) 100%);
//   }

//   100% {
//     background: linear-gradient(to top, rgba(238,196,30,1) 0%, rgba(227,116,58,1) 50%);
//   }
// }