.scene {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding-top: 1px;
    background-image: linear-gradient(to top, rgba(74,71,71, 1), rgba(0,0,0,1));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    .treeImage {
        bottom: 0px;
    }
    
    .treeLine {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        // align-content: flex-end;
    }

    .treeImage1 {
        width: 31%;
        // margin-left: -4%;
    }
    
    .treeImage2 {
        width: 23%;
        position: relative;
        left: -100px;
        // margin-left: -3%;
    }
    
    .treeImage3 {
        width: 26%;
        // margin-left: 11%;
    }
    
    .treeImage4 {
        width: 38%;
        // margin-right: 0;
    }
    
    .treeImage5 {
        width: 22%;
        // margin-right: 13%;
    }
    
    .treeImage6 {
        width: 36%;
        // margin-left: 28%;
    }
    
    .treeImage7 {
        width: 18%;
    }

    .sun {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 60px 110px white;
        position: absolute;
    }
}