.scene {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding-top: 1px;
    background-image: linear-gradient(to top, rgba(74,71,71, 1), rgba(0,0,0,1));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    .treeLine {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
    }

    .treeImage1 {
        width: 52%;
        margin-left: -5%;
    }
    
    .treeImage2 {
        width: 33%;
        margin-left: -10%;
    }
    
    .treeImage3 {
        width: 41%;
        margin-left: -12%;
    }
    
    .treeImage4 {
        width: 56%;
        margin-left: -7%;
    }
    
    .treeImage5 {
        width: 32%;
        margin-left: -2%;
    }
    
    .treeImage6 {
        width: 50%;
        margin-left: -24%;
    }
    
    .treeImage7 {
        width: 33%;
        margin-left: -5%;
    }
    
    .treeImage8 {
        width: 38%;
        margin-right: -17%;
    }
    
    .treeImage9 {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .treeImage4,
    .treeImage5 {
        display: none;
    }
}

@media (max-width: 600px) {
    .treeImage2,
    .treeImage6 {
        display: none;
    }
}

@media (max-width: 450px) {
    .treeImage3,
    .treeImage7 {
        display: none;
    }
}


